body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  height: 4px;
  background-color: #000000;
  border: none;
}

/* Navigation Styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.3s;
}


ul li a.active {
  background-color: #54028a;
}

ul li a:hover {
  background-color: #7102a5;
}

/* Header Styles */
header {
  background-color: #444444;
  color: white;
  padding: 100px 0;
  text-align: center;
}

/* Section Styles */
section h2, section p {
  margin: 5px;
  padding: 0;
  text-align: center;
}

#downloadButton {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #54028a;
  color: white;
  border: none;
  border-radius: 15px;
  transition-duration: 0.25s;
}

#downloadButton:hover {
  background-color: #9900e0; 
}

/* Intro Paragraph Styles */
.textImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px;
  color: white;
  background-color: #555555;
}
.textImage article {
  display: block;
  max-width: 35%;
  margin: 0 auto;
  text-align: center;
}

#protoImage {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  border-radius: 20px;
}

/* Media Query for Phone Screens */
@media (max-width: 670px) {
  .textImage {
    flex-direction: column;
  }

  .textImage article {
    max-width: 90%;
  }

  #protoImage {
    max-width: 80%;
  }
}