html {
  scroll-padding-top: 100px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Logo Style */
.logo.top {
  position: absolute;
  left: 16px;
  top: 0;
  height: 75px;
  margin: 0 0 10px 0;
}

.logo.bottom {
  height: 75px;
}

/* Navigation Styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 90px;
  box-sizing: border-box;
}

ul li {
  margin: auto 0;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.3s;
}

ul li a:hover {
  background-color: #7102a5;
}

/* Header Styles */
header {
  background-color: #444444;
  color: white;
  padding: 190px 0 100px 0;
  text-align: center;
}

/* Section Styles */
section h2, section p {
  margin: 5px;
  padding: 0;
  text-align: center;
}

/* Link Styling */
a:link,
a:visited {
  color: white;
}

a:hover {
  color: #54028a;
}

/* Button Styles */
.button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #54028a;
  color: white;
  border: none;
  border-radius: 15px;
  transition-duration: 0.25s;
}

.button:hover {
  background-color: #9900e0; 
}

/* Text Image Styles */
.textImageGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px;
  color: white;
  background-color: #000000;
}

.textImageGroup.reverse {
  flex-direction: row-reverse;
}

.textImageGroup article {
  display: block;
  max-width: 35%;
  margin: 0 auto;
  text-align: center;
}

.textImageGroup img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  border-radius: 20px;
}

/* Download Section Styles */
#download {
  background-color: #555555;
  color: white;
  padding: 20px 10px;
}

#download #downloadLinks {
  display: flex;
  justify-content: center;
}

/* Q1  Styles */
#q1 {
  background-color: #606060;
}

/* Q2 Styles */
#q2 {
  background-color: #656565;
}

/* Q3 Styles */
#q3 {
  background-color: #707070;
}

/* Contact Styles */
#contact {
  background-color: #757575;
  color: white;
  padding: 20px 10px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 5px 20px;
  border-radius: 15px;
}

.form h2 {
  width: 100%;
  margin-bottom: 10px;
}

.form input, .form textarea {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  border: 4px solid #54028a;
  border-radius: 15px;
  background-color: #888888;
  color: white;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #cccccc;
}

.form input:focus, .form textarea:focus {
  outline: none;
  border-color: #9900e0;
}

.form input[type="text"] {
  width: 48%;
  margin-right: 2%;
}

.form input[type="email"] {
  width: 48%;
  margin-left: 2%;
}

.form textarea {
  width: 100%;
  min-height: 150px;
  resize: none;
}

#submitButton {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
}

.form #formMessage {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #54028a;
  color: white;
}

/* Footer Styles */
footer {
  display: flex;
  background-color: #808080;
  color: white;
  padding: 10px 20px;
}

#socials {
  flex: 1;
  margin: auto 0 auto auto;
  padding: 0;
  text-align: right;
}

#socials p {
  margin-bottom: 5px;
}

#socials i {
  display: inline-block;
  font-size: 30px;
}

/* Media Query for Phone Screens */
@media (max-width: 670px) {
  .textImageGroup,
  .textImageGroup.reverse {
    flex-direction: column;
  }

  .textImageGroup article {
    max-width: 90%;
  }

  .textImageGroup img {
    max-width: 80%;
  }

  .form input[type="text"],
  .form input[type="email"] {
    width: 100%;
    margin: 0 0 15px 0;
  }
}